.tables {
	margin: auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1rem;

	.header {
		font-size: 3rem;
		color: var(--white-faded);
		margin-bottom: 2rem;
	}
	.table-wrapper {
		margin: 2rem;
		width: 45%;
		&:first-child {
			width: 94%;
		}
		background-color: var(--primary-light);
		padding: 2rem;
		border-radius: 2rem;
	}
	tbody {
		overflow-y: auto;
	}
	.table-container {
		// overflow-y: hidden;
	}

	.MuiPaper-root {
		height: 40rem;
	}

	.MuiTable-root {
		background-color: var(--primary-light);
	}
	.MuiPaper-elevation1 {
		box-shadow: none;
	}
	.MuiTableCell-head,
	.MuiTableCell-body {
		color: var(--white-faded);
		font-size: 1.4rem;
		font-family: "Fredoka One", sans-serif;
	}

	span {
		.MuiTableSortLabel-icon {
			opacity: 1;
		}
		&:hover,
		&:active {
			color: var(--white);
		}
	}
}

.table > * {
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 4px;
		background-color: var(--white-faded);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-dark);
	}
}
