.marker-map {
	background-color: var(--primary-light);
	width: 80%;
	margin: auto;
	padding: 3rem;
	display: flex;

	.map-options {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
		justify-content: left;

		.notes {
			.header {
				font-size: 3rem;
				margin-bottom: 1.5rem;
			}
			color: var(--white);
			padding: 1rem;
			letter-spacing: 1px;
		}

		select,
		option {
			padding: 0.5rem;
			margin: 1rem;
		}
	}

	.marker {
		cursor: pointer;
	}
}
