@import "../../mediaQuery.scss";
.charts {
	margin: auto;
	display: flex;
	margin-top: 5rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 85%;
	background-color: var(--primary-light);
	border-radius: 3rem;

	@include res(phone) {
		width: 100%;
		border-radius: 1rem;
		padding: 1rem;
	}

	.main-header {
		width: 100%;
		text-align: center;
		font-size: 4rem;
		color: var(--white);
		margin: 2rem;
	}

	.header {
		font-size: 2rem;
		color: var(--white);
	}

	.death-chart,
	.pie-chart {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem;
		width {
			width: 45%;
		}
	}

	svg {
		background-color: var(--white) !important;
	}
	.column-chart {
		color: #000;
	}
	@include res(phone) {
	}
}
