@import "../../mediaQuery.scss";

.about-corona {
	width: 85%;
	background-color: var(--primary-light);
	border-radius: 3rem;
	padding: 3rem;
	margin: auto;
	margin-top: 3rem;
	text-align: center;
	color: var(--white-faded);

	@include res(phone) {
		width: 100%;
		border-radius: 1rem;
		padding: 1rem;
	}

	.what {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	.info {
		font-size: 1.8rem;
		letter-spacing: 2px;
		margin-bottom: 3rem;
		display: flex;
		justify-content: space-evenly;

		@include res(phone) {
			flex-direction: column;
		}

		img {
			width: 40rem;
			border-radius: 1rem;
			@include res(phone) {
				margin-top: 1rem;
			}
		}
		a {
			display: block;
			color: var(--white-faded);
			font-size: 1.2rem;
		}
		.left {
			width: 60%;
			@include res(phone) {
				width: 100%;
				text-align: center;
			}
		}
		.right {
			.item {
				display: list-item;
				margin-left: 15rem;
				text-align: left;
				@include res(phone) {
					margin-left: 5rem;
				}
			}
		}
	}
	.stop {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@include res(phone) {
			flex-direction: column;
		}
		.header {
			font-size: 3rem;
		}
		text-align: left;
		.header-small {
			font-size: 2rem;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		ul {
			width: 80%;
			margin: auto;
			font-size: 1.8rem;
		}
	}
	.src {
		font-size: 1.2rem;
		margin-top: 3rem;
	}
}
