.nav {
	display: flex;
	width: 100vw;
	padding: 1.5rem;
	background-color: var(--white);
	color: var(--nav-red);
	font-size: 2rem;
	align-items: center;
	justify-content: space-between;

	.items {
		display: flex;
	}

	&-item {
		margin-left: 5rem;
		cursor: pointer;
	}

	.ko-fi {
		cursor: pointer;
		text-decoration: none;
		margin-left: auto;
		display: flex;
		align-items: center;
		border-radius: 5px;
		padding: 0.5rem;
		img {
			width: 2.5rem;
			animation: shake 2s infinite;
		}
		span {
			color: var(--white-faded);
			font-size: 1.6rem;
			margin-left: 1rem;
		}
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(50deg);
	}
	10% {
		transform: rotate(-50deg);
	}
	15% {
		transform: rotate(50deg);
	}
	20% {
		transform: rotate(-50deg);
	}
	25% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
