nav {
	background-color: #fff;
	font-size: 3rem;
	a {
		padding-top: 2rem;
		&:last-child {
			color: var(--nav-red);
			margin-left: 5rem;
			text-decoration: none;
		}
	}
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 10px;
	top: 10px;
	z-index: 100;
	span {
		background-color: #fff;
		&:last-child {
			display: none;
		}
	}
}
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}
.ko-fi {
	margin-top: 2rem;
	cursor: pointer;
	text-decoration: none;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	padding: 0.5rem;
	width: 30rem;
	img {
		width: 2.5rem;
		animation: shake 2s infinite;
	}
	span {
		color: var(--white-faded);
		font-size: 1.6rem;
		margin-left: 1rem;
	}
}
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(50deg);
	}
	10% {
		transform: rotate(-50deg);
	}
	15% {
		transform: rotate(50deg);
	}
	20% {
		transform: rotate(-50deg);
	}
	25% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
