@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62%;

	--white: #fff;
	--white-faded: rgb(228, 228, 228);
	--primary-dark: #025a57;
	--primary-light: #016d67;

	--red: #f65164;
	--green: #65dd9b;
	--yellow: #f8f540;

	--nav-red: #e9707c;
}
body {
	margin: 0;
	font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	color: var(--white-faded);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

main {
	background-color: var(--primary-dark);
	width: 100vw;
	min-height: 100vh;
	padding-top: 3rem;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--nav-red);
}
