@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62%;

	--white: #fff;
	--primary-dark: #025a57;
	--primary-light: #007772;

	--red-1: #ff4c4c;
	--green: #22dd66;
	--yellow: #f3f169;

	--nav-red: #e9707c;
}
body {
	margin: 0;
	font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

main {
	background-color: var(--primary-dark);
	width: 100vw;
	height: auto;
}
